<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nueva Persona</title>
</head>
<body>
    <h1>Registrar Persona</h1>
    <form th:action="@{/personas/guardar}" th:object="${persona}" method="post">
        <label>Nombre: <input type="text" th:field="*{nombre}" /></label><br/>
        <label>Correo: <input type="email" th:field="*{correo}" /></label><br/>

        <h3>Cursos disponibles:</h3>
        <div th:each="curso : ${listaCursos}">
            <input type="checkbox" th:value="${curso.id}" th:field="*{cursos}" />
            <label th:text="${curso.nombreCurso}"></label><br>
        </div>
        <br/>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
